{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ingredients - Recipe Sharing Platform</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>🧂 All Ingredients</h1>
    <a href="{% url 'ingredient_create' %}">+ Add New Ingredient</a>
    <a href="{% url 'recipe_list' %}">Back to Recipes</a>

    <ul>
        {% for ingredient in ingredients %}
        <li>
            {{ ingredient.name }}
            <a href="{% url 'ingredient_update' ingredient.pk %}">Edit</a> | 
            <a href="{% url 'ingredient_delete' ingredient.pk %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>